body {
    height: 90vh;
    background: linear-gradient(150deg, var(--primary-dark), var(--primary-medium));
    display: flex;
    justify-content: center;
    align-items: center;
}

/*conteiner principal*/
.container {
   background-color: var(--while);
   padding: 40px;
   width: 350px;
   box-shadow: 0px 8px 25px var(--shadow-default);
   border-radius: 25px;
}

form {
   background-color: var(--primary-light);
   border-radius: 20px;
}


h1 {
    text-align: center;
    margin-bottom: 20px;
}



input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 15px;
    border: 1px solid var(--gray-medium);
    transition: 0.3s;
}

input:focus{
    border-color: var(--primary-medium);
    outline: none;
    box-shadow: 0 0 5px var(--primary-medium)
}

button {
    width: 100%;
    padding: 10px;
    background-color: var(--success);
    border: none;
    border-radius: 15px;
    color: var(--white);
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background-color: var(--success-hover);
}