/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 21 de fev. de 2026, 02:43:14
    Author     : jplri
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.conteiner {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #1e3a8a;
}

form {
  padding: 65px;
  border-radius: 30px;
  background-color: #f5f7fa;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

h1 {
  font-size: 30px;
}

.horizontal-bar {
  height: 5px;
  width: 210px;
  background-color: #1e3a8a;
}

.inputcamp {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inputbutton {
  border-radius: 30px;
  height: 30px;
  padding: 0 10px;
}

button {
  padding: 10px;
  text-transform: uppercase;
  border-radius: 25px;
  width: 90px;
  border: solid 1px #6b7280;
  color: #f5f7fa; 
  background-color: #1e3a8a;
}

